/*.main-header {outline: 2px solid green;}*/
.container {outline: 2px solid blue;}
/*.header-top {outline: 2px solid red;}*/
/*.main-navigation {outline: 2px solid brown;}*/
/*.promo {outline: 2px solid yellow;}*/
/*.slides {outline: 2px solid grey;}*/
/*.products-row {outline: 2px solid green;}*/
/*.products-list {outline: 2px solid;}*/
/*.products-item {outline: 2px solid;}*/
.index-content {outline: 2px solid green;}
/*.main-about {outline: 2px solid;}*/
/*.content-column-left {outline: 2px solid;}*/
/*.content-column-right {outline: 2px solid;}*/
/*.partners {outline: 2px solid green;}*/
/*.map-canvas {outline: 2px solid green;}*/
/*.main-footer {outline: 2px solid green;}*/